{% load static %} {% block css %}

{% endblock %}
<div class="text-center">
  <a href="/"
    ><img
      src=" {% static 'img/casaprincipal.jpeg' %}"
      alt="logo toc_toc"
      class="img-ccasaprincipal"
  /></a>
</div>
<div class="text-end">
  {% if user.is_authenticated %}
  <form class="d-flex" role="search" method="post" action="{% url 'logout' %}">
    <label for="#" class="text-light"
      >Hola {{user.first_name}} {{user.last_name}}</label
    >
    {% csrf_token %}
  </form>
  {% endif %}
</div>
